/*Se cambia el diseño en Tablet y Escritorio, siempre y cuando el ancho no sea maximo de 768 pixeles*/
@media(min-width:768px) {
    /*Cambio de diseño a todo el cuerpo*/
    body {
        margin-top: 80px;
        background-color: #F1F2F7;

    }
    
    /*Cambio al Contenedor de todo el contenido Wrapper*/
    #wrapper{
        padding-left: 240px;
    }

    /*Cambio de diseño en el navbar misma estructura del sb-admin.css, solo implemetamos los cambios que necesitamos*/
    .side-nav {
        top: 80px;
        width: 240px;
        background-color: #32323A;
    }
    
    /*Cambio de estylo dentro de los servicios del navbar*/
    .side-nav>li>a {
        width: 240px;
        padding: 17px;
        border-bottom: 0.5px solid #3C3C43;
    }

    /*Cambio directo al navbar horizontal, tener en cuenta que es el mismo pero se divide en dos div el global y sus servicios*/
    .navbar{
        height: 80px;
        background-color: white;
        border-bottom: white;
        -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /*Cambio de diseño al div del logo, recordar cambiar por una etiqueta img*/
    .navbar-header{
        height: 80px;
        width: 240px;
        background-color: #1FB5AD;
    }

    
    .navbar-vertical{
        position: relative;
        float: right;
        left: 15px;
        top: 21px;
        visibility: visible;
    }

    .navbar-vertical>a>span{
        border-radius: 50px;
        padding: 9px;
        font-size: 15px;
        background-color: #32D2C9;
        color: rgba(0,0,0,.3);
    }

    .navbar-vertical>a>span:hover{
        background-color: #F6F6F6;
    }

    /*Diseño botonoes de navbar horizontal*/
    /*Diseño de los primeros botones del navbar horizontal (Mesajes y Alertas)*/
    .top-nav-uno{
        position: absolute;
        left: 255px;
        margin-top: 20px;
    }


    .dropdown-mensaje>a{
        background: #F1F2F7;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        margin-right: 15px;
    }

    .dropdown-mensaje>a>b{
        position: absolute;
        left: 10px;
        top: 10px;
    }


    .dropdown-alerta>a{
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background: #F1F2F7;
    }

    .dropdown-alerta>a>b{
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .top-nav-uno>.dropdown>a:hover,
    .top-nav-uno>.dropdown>a:focus{
        color: #1FB5AD;
        background: #32323A;
    }

    /*Diseño de segundo botone del navbar horizontal (Perfil -MiPymes)*/
    .top-nav-dos{
        margin-top: 20px;
        width: 200px;
    }

    .top-nav-dos>.dropdown>a{
        border-radius: 25px;
        width: 140px;
        height: 36px;
        padding: 4px 5px 1px 0;
        background: #F6F6F6;
        color: #555555;
        font-size: 15px;
        border: 1px solid #F6F6F6;
    }

    .top-nav-dos>.dropdown>a:hover,
    .top-nav-dos>.dropdown>a:focus{
        color: #1FB5AD;
        background-color: #32323A;
        border: 1px solid #32323A;
    }

    .top-nav-dos>.dropdown>a>img{
        width: 35px;
        border-radius: 50%;
        margin-top: -5px;
        margin-right: 4px;
    }

    .top-nav-dos>.dropdown>a>b{
        margin-left: 10px;
    }
}

#page-wrapper {
    background-color: #f1f2f7;
}

/*Se quita el boton o font de muestra del navbar, siempre y cuando el ancho no supere un maximo de 768 pixeles*/
@media(max-width: 768px){
    .navbar-vertical{
        visibility: hidden;
    }
}